body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;
  background-color: white;
  min-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-container {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 320px;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.purchase-nav {
  background-color: #293449;
  color: white;
  font-size: 17px;
  line-height: 42px;
  width: 1200px;
  height: 42px;
  display: flex;
  padding-left: 130px;
  padding-right: 130px;
  vertical-align: middle;
}

.purchase-nav-links {
  margin: 0;
  margin-left: auto;
}

.purchase-nav-links a {
  width: 150px;
  height: 42px;
  display: inline-block;
  box-sizing: border-box;
}

.purchase-nav-links a:active {
  opacity: 60%;
}

.purchase-nav form {
  margin-left: 17px;
}

.logo {
  width: 220px;
  height: 47px;
  text-align: center;
  background-color: #ee3643;
}

.logo a {
  line-height: 47px;
}

.logo:hover,
.company-info-button-feedback:hover,
.red-button:hover {
  background-color: #ca2c37;
}

.logo:active,
.company-info-button-feedback:active,
.red-button:active {
  background-color: #ba2732;
}

.make-order-button {
  background-color: #63a63e;
  text-align: center;
}

.make-order-button:hover {
  background-color: #5fbb2d;
}

.make-order-button:active {
  background-color: #518534;
}

.make-order-button a:active {
  opacity: 50%;
}

.contacts-nav {
  color: black;
  width: 940px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.contacts-nav h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin-left: 53px;
}

.contacts-nav-tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 45px;
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.contacts-nav-adress {
  color: #32425c;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.contacts-nav-button {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 21px;
}

.logged-user {
  width: 299px;
  height: 45px;
}

.login-back {
  width: 121px;
  height: 45px;
}

.register-back {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.contacts-nav-cabinet {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.contacts-nav-cabinet a {
  text-decoration: underline;
  color: #32425c;
  margin-right: 16px;
  margin-left: 16px;
}

.contacts-nav-cabinet a:hover,
.contacts-nav-button a:hover,
.footer-bottom-nav a:hover {
  color: #ee3643;
}

.contacts-nav-cabinet a:active {
  color: #32425c;
  opacity: 30%;
}

.contacts-nav-button a {
  color: black;
}

.contacts-nav-button a:active {
  opacity: 30%;
}

.bread-crumbs {
  color: black;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}

.bread-crumbs a:active {
  color: black;
}

.main-navigation {
  font-size: 17px;
  color: #ffffff;
  background-color: #32425c;
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
  line-height: 60px;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.main-navigation a {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.main-navigation li:hover {
  background-color: #243147;
  display: inline-block;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.white-links a {
  color: white;
}

.main-navigation a:active {
  opacity: 50%;
}

.company-info {
  display: flex;
  height: 536px;
  width: 940px;
  margin: auto;
  padding-top: 82px;
  justify-content: space-between;
}

.company-info div:nth-child(0) {
  width: 519px;
}

.company-info div:nth-child(1) {
  width: 300px;
}

.company-info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  margin-top: 36px;
  margin-bottom: 0px;
}

.company-info h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
}

.company-info ul {
  font-size: 18px;
  line-height: 20px;
}

.company-info li {
  margin-bottom: 24px;
}

.company-info li::before {
  content: "—";
  color: #ee3643;
}

.company-info img {
  margin-top: 36px;
  margin-bottom: 40px;
}

.company-info-button-details {
  width: 220px;
  height: 38px;
}

.company-info-button-feedback {
  font-size: 14px;
  line-height: 18px;
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  color: white;
}

.promo-block-slider-button {
  width: 195px;
  height: 38px;
  position: relative;
  left: 25px;
  bottom: 60px;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  padding: 10px;
}

.popular-items-button {
  width: 253px;
  height: 38px;
  position: relative;
  left: 663px;
  bottom: 63px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: auto;
  padding: 0px;
}

.footer-nav-flex {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  padding: 0px;
}

.footer-nav {
  background-color: #32425c;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  height: 193px;
}

.footer-nav li {
  margin-left: 55px;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav-phone {
  color: #f1f5f7;
}

.inline-list li {
  display: inline;
}

.footer-nav-first a:hover {
  color: #f1f5f7;
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 50%;
  text-decoration: none;
}

.footer-nav-second a,
.footer-bottom-nav-develop a {
  color: #ffd180;
}

.footer-nav-second a:hover {
  text-decoration: underline;
  color: #ffd180;
}

.footer-bottom-nav {
  background-color: #293449;
  font-size: 16px;
  line-height: 28px;
  color: #f1f5f7;
  height: 103px;
}

.catalog-item-header {
  background-color: #f2f6f8;
  width: 940px;
  height: 89px;
  color: #32425c;
  text-transform: uppercase;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
}

.filter {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  width: 220px;
}

.filter h3 {
  font-size: 13px;
  line-height: 18px;
  height: 38px;
  background-color: #f7f3ec;
}

.filter fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.price-filter div {
  background-color: #f7f3ec;
  width: 220px;
  height: 80px;
}

.price-filter input[name="price"] {
  width: 180px;
  height: 2px;
}

.price-filter input[name="price_min"],
.price-filter input[name="price_max"] {
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter button {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
}

.catalog-items {
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 21px;
}

.catalog-items h3 {
  color: black;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-items p {
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-items span {
  color: white;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #ba2732;
  /* Временный фон вместо картинка */
}

.catalog-items li {
  border: solid 1px #eaeaea;
  text-align: center;
}

.promo {
  display: flex;
  width: 940px;
  height: 520px;
  margin: auto;
  flex-direction: column;
  padding-top: 59px;
  padding-bottom: 53px;
  align-content: space-between;
}

.promo-container-top {
  display: flex;
  height: 123px;
  justify-content: space-between;
}

.promo-container-bottom {
  display: flex;
  height: 266px;
  justify-content: space-between;
  margin-top: 20px;
}

.promo-container-bottom-right {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-block {
  width: 300px;
  height: 123px;
  color: white;
  font-size: 24px;
  line-height: 30px;
}

.promo-block a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: white;
}

.promo-block a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-block-stuff {
  background-color: #ffbf47;
}

.promo-block-tool {
  background-color: #3bbce3;
}

.promo-block-equipment {
  background-color: #dc91d8;
}

.promo-block-sale {
  background-color: #8ed78f;
}

.promo-block-delivery {
  background-color: #ffc047;
}

.popular-items {
  width: 940px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.popular-items h2 {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 30px;
  margin: 0px;
}

.popular-items-logo {
  display: flex;
  height: 415px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  padding-bottom: 75px;
  flex-wrap: wrap;
}

.popular-items-logo li {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  list-style: none;
  border: solid 1px #e5e5e5;
  display: inline-block;
}

.popular-items-logo li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-items-logo li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 10%;
}

.service {
  height: 522px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  color: black;
  padding-top: 68px;
  font-family: "PT Sans", sans-serif;
}

.service h3 {
  font-size: 30px;
  margin: 0px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.service-container {
  width: 940px;
  margin: auto;
}

.sort {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.sort h3 {
  font-size: 13px;
  line-height: 18px;
  display: inline;
}

.sort ul {
  display: inline;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

.sort a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration-style: solid;
  text-decoration-line: underline;
}

.sort a:active {
  color: #ee3643;
  text-decoration-line: none;
}

.paging a {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.paging .next-button {
  width: 140px;
  height: 38px;
}

.paging a:hover {
  border: solid 1px #bdc6ca;
  background-color: #ffffff;
}

.paging a:active {
  background-color: #ee3643;
}

.paging a:focus {
  border: solid 1px #ee3643;
  background-color: #ffffff;
}

.about-perforator {
  height: 261px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  padding-top: 68px;
  color: black;
  font-family: "PT Sans", sans-serif;
}

.about-perforator h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.arrow {
  display: inline-block;
  width: 122px;
  height: 38px;
  text-align: center;
  padding: 10px;
  margin-top: 17px;
  color: white;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #ee3643;
}

.arrow::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #ee3643;
  border-width: 19px;
  margin-top: -19px;
}
