body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;
  background-color: white;
  min-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-container {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 320px;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-main {
  margin-top: 59px;
}

.catalog-main {
  margin-top: 23px;
}

.purchase-nav {
  background-color: #293449;
  color: white;
  font-size: 17px;
  line-height: 42px;
  width: 1200px;
  height: 42px;
  display: flex;
  padding-left: 130px;
  padding-right: 130px;
  vertical-align: middle;
}

.purchase-nav-links {
  margin: 0;
  margin-left: auto;
}

.purchase-nav-links a {
  width: 150px;
  height: 42px;
  display: inline-block;
  box-sizing: border-box;
}

.purchase-nav-links a:active {
  opacity: 60%;
}

.purchase-nav form {
  margin-left: 17px;
}

.logo {
  width: 220px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-nav {
  height: 47px;
  padding-top: 5px;
}

.logo-footer {
  height: 68px;
  padding-top: 20px;
}

.logo:hover,
.company-info-button-feedback:hover,
.red-button:hover {
  background-color: #ca2c37;
}

.logo:active,
.company-info-button-feedback:active,
.red-button:active {
  background-color: #ba2732;
}

.make-order-button {
  background-color: #63a63e;
  text-align: center;
}

.make-order-button:hover {
  background-color: #5fbb2d;
}

.make-order-button:active {
  background-color: #518534;
}

.make-order-button a:active {
  opacity: 50%;
}

.contacts-nav {
  color: black;
  width: 940px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.contacts-nav h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin-left: 53px;
}

.contacts-nav-tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 45px;
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.contacts-nav-adress {
  color: #32425c;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.contacts-nav-button {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 21px;
}

.logged-user {
  width: 299px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.login-back {
  width: 121px;
  height: 45px;
}

.register-back {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.contacts-nav-cabinet {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.contacts-nav-cabinet a {
  text-decoration: underline;
  color: #32425c;
  margin-right: 16px;
  margin-left: 16px;
}

.contacts-nav-cabinet a:hover,
.contacts-nav-button a:hover,
.footer-bottom-nav a:hover {
  color: #ee3643;
}

.contacts-nav-cabinet a:active {
  color: #32425c;
  opacity: 30%;
}

.contacts-nav-button a {
  color: black;
}

.contacts-nav-button a:active {
  opacity: 30%;
}

.bread-crumbs {
  color: black;
  width: 940px;
  margin: auto;
  margin-bottom: 25px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}

.bread-crumbs a:active {
  color: black;
}

.bread-crumbs li:not(:last-child)::after {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-right: 15px;
  content: url(../img/icon-right-small.svg);
}

.main-navigation {
  font-size: 17px;
  color: #ffffff;
  background-color: #32425c;
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
  line-height: 60px;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.main-navigation a {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.main-navigation li:hover {
  background-color: #243147;
  display: inline-block;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.white-links a {
  color: white;
}

.main-navigation a:active {
  opacity: 50%;
}

.company-info {
  display: flex;
  height: 536px;
  width: 940px;
  margin: auto;
  padding-top: 82px;
  justify-content: space-between;
}

.company-info div:nth-child(0) {
  width: 519px;
}

.company-info div:nth-child(1) {
  width: 300px;
}

.company-info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  margin-top: 36px;
  margin-bottom: 0px;
}

.company-info h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
}

.company-info ul {
  font-size: 18px;
  line-height: 20px;
}

.company-info li {
  margin-bottom: 24px;
}

.company-info li::before {
  content: "—";
  color: #ee3643;
}

.company-info img {
  margin-top: 36px;
  margin-bottom: 40px;
}

.company-info-button-details {
  width: 220px;
  height: 38px;
}

.company-info-button-feedback {
  font-size: 14px;
  line-height: 18px;
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  color: white;
}

.promo-block-slider-button {
  width: 195px;
  height: 38px;
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.buy-order-button,
.shopping-continue {
  width: 220px;
  height: 38px;
  cursor: pointer;
}

.shopping-continue {
  background-color: #ffffff;
  line-height: 18px;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.popular-items-button {
  width: 253px;
  height: 38px;
  position: absolute;
  right: 24px;
  top: 25px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: auto;
  padding: 0px;
}

.footer-nav-flex {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  padding: 0px;
}

.footer-nav {
  background-color: #32425c;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  height: 193px;
}

.footer-nav li {
  margin-left: 55px;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav-phone {
  color: #f1f5f7;
}

.inline-list li {
  display: inline;
}

.footer-nav-first a:hover {
  color: #f1f5f7;
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 50%;
  text-decoration: none;
}

.footer-nav-second a,
.footer-bottom-nav-develop a {
  color: #ffd180;
}

.footer-nav-second a:hover {
  text-decoration: underline;
  color: #ffd180;
}

.footer-bottom-nav {
  background-color: #293449;
  font-size: 16px;
  line-height: 28px;
  color: #f1f5f7;
}

.catalog-item-header {
  background-color: #f2f6f8;
  width: 940px;
  height: 89px;
  margin: auto;
  color: #32425c;
  text-transform: uppercase;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.catalog-container {
  display: flex;
  width: 940px;
  margin: auto;
}

.filter {
  display: flex;
  flex-direction: column;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  width: 220px;
  margin-right: 20px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter ul {
  margin: 0px;
  padding: 0px;
}

.divider {
  width: 220px;
  height: 0px;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  margin: 0px;
  margin-bottom: 25px;
}

.filter h3 {
  font-size: 13px;
  line-height: 38px;
  height: 38px;
  margin: 0px;
  padding-left: 18px;
  vertical-align: middle;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.filter fieldset {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.filter button {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  margin-top: 50px;
}

.catalog-items {
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  position: relative;
}

.catalog-container .catalog-items {
  width: 700px;
}

.catalog-items h3 {
  color: black;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 18px;
}

.catalog-items span {
  color: white;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #ba2732;
  /* Временный фон вместо картинка */
}

.catalog-items li {
  height: 318px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #eaeaea;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.promo {
  display: flex;
  width: 940px;
  height: 409px;
  margin: auto;
  flex-direction: column;
  margin-bottom: 53px;
  justify-content: space-between;
}

.promo h3,
.promo a {
  margin: 0px;
}

.promo-container-top {
  display: flex;
  height: 123px;
  justify-content: space-between;
}

.promo-container-bottom {
  display: flex;
  height: 266px;
  justify-content: space-between;
  margin-top: 20px;
}

.promo-container-bottom-right {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-block {
  width: 300px;
  height: 123px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}

.promo-block img {
  position: absolute;
  display: block;
  top: 35px;
  left: 193px;
}

.promo-block a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
}

.promo-block a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-block-stuff {
  background-color: #ffbf47;
}

.promo-block-tool {
  background-color: #3bbce3;
}

.promo-block-equipment {
  background-color: #dc91d8;
}

.promo-block-sale {
  background-color: #8ed78f;
}

.promo-block-delivery {
  background-color: #ffc047;
}

.promo-block-padding {
  padding-left: 23px;
  padding-top: 26px;
}

.popular-items {
  width: 940px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  position: relative;
}

.popular-items h2 {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 30px;
  margin: 0px;
  margin-bottom: 21px;
}

.popular-items-logo {
  display: flex;
  height: 310px;
  justify-content: space-between;
  align-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-bottom: 75px;
  flex-wrap: wrap;
}

.popular-items-logo li {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  list-style: none;
  border: solid 1px #e5e5e5;
}

.popular-items-logo a {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.popular-items-logo li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-items-logo li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 10%;
}

.search {
  background-color: #293449;
  border: none;
  color: #ffffff;
}

.search::placeholder {
  color: #ffffff;
}

.service {
  height: 522px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  color: black;
  padding-top: 68px;
  font-family: "PT Sans", sans-serif;
}

.service h3 {
  font-size: 30px;
  margin: 0px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.service-container {
  width: 940px;
  margin: auto;
}

.sort {
  display: flex;
  align-items: center;
  margin: auto;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  margin-bottom: 21px;
}

.sort h3 {
  font-size: 13px;
  line-height: 18px;
  display: inline;
  margin: 0px;
  margin-left: 20px;
  margin-right: 140px;
}

.sort ul {
  display: flex;
  justify-content: space-between;
  width: 558px;
  padding: 0px;
  margin: auto;
  margin-right: 20px;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

.sort a:last-child {
  margin-left: 20px;
}

.sort a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration-style: solid;
  text-decoration-line: underline;
}

.sort li:last-child a {
  text-decoration: none;
}

.sort a:active {
  color: #ee3643;
  text-decoration-line: none;
}

.paging {
  margin-top: 20px;
  margin-bottom: 60px;
}

.paging a {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.paging .next-button {
  width: 140px;
  height: 38px;
}

.paging a:hover {
  border: solid 1px #bdc6ca;
  background-color: #ffffff;
}

.paging a:active {
  background-color: #ee3643;
}

.paging a:focus {
  border: solid 1px #ee3643;
  background-color: #ffffff;
}

.about-perforator {
  height: 261px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  padding-top: 68px;
  color: black;
  font-family: "PT Sans", sans-serif;
}

.about-perforator h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.arrow {
  display: inline-block;
  width: 122px;
  height: 38px;
  text-align: center;
  padding: 10px;
  margin-top: 18px;
  color: white;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #ee3643;
  margin-bottom: 21px;
  margin-left: -10px;
}

.arrow::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #ee3643;
  border-width: 19px;
  margin-top: -19px;
}

.arrow::before {
  content: attr(data-cost);
  position: absolute;
  text-decoration: line-through;
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  bottom: 50px;
}

.social-button-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 132px;
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.flag {
  width: 60px;
  height: 59px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  content: url(../img/new-flag.png);
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 130px;
  padding: 44px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  display: none;
}

.catalog-items li:hover .actions {
  display: block;
}

.buy,
.bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 80px;
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  display: flex;
}

.toggle {
  position: absolute;
  top: 31px;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ababab;
}

.toggle-max {
  left: 140px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls input {
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
  text-align: center;
  color: black;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scale {
  height: 2px;
  background: #d7dcde;
  width: 180px;
  margin: auto;
}

.bar {
  width: 140px;
  height: 2px;
  background: #00ca74;
}

.filter-radio,
.filter-checkbox {
  display: none;
}

.aligned-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aligned-filter label {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 70%;
}

.aligned-filter label:hover {
  opacity: 100%;
}

.filter-checkbox:disabled + label {
  opacity: 40%;
}

.checkbox-filter-height {
  height: 195px;
}

.radio-filter-height {
  height: 66px;
}

.filter-checkbox:checked + label::before {
  content: url(../img/checkbox-on.png);
  margin-right: 10px;
}

.filter-checkbox + label::before {
  content: url(../img/checkbox-off.png);
  margin-right: 14px;
}

.filter-radio:checked + label::before {
  content: url(../img/radio-on.svg);
  margin-right: 14px;
}

.filter-radio + label::before {
  content: url(../img/radio-off.svg);
  margin-right: 14px;
}

.promo-container-slider {
  position: relative;
}

.promo-container-slider h3 {
  color: white;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  left: 25px;
  top: 27px;
}

.promo-container-slider p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  left: 25px;
  top: 65px;
}

.slider-icon {
  width: 22px;
  height: 40px;
  position: absolute;
  display: inline-block;
  top: 114px;
}

.slider-icon-left {
  content: url(../img/icon-left.svg);
  left: 25px;
}

.slider-icon-right {
  content: url(../img/icon-right.svg);
  right: 25px;
}

.map-big {
  width: 940px;
  height: 446px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: relative;
}

.modal-close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 2;
  content: url(../img/modal-close.svg);
  cursor: pointer;
}

.universal-modal {
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  border-top: 7px solid #ee3643;
  border-bottom: 112px solid #f4f4f4;
  background-color: white;
}

.universal-modal h3 {
  font-size: 30px;
  line-height: 30px;
  color: black;
  display: inline;
  vertical-align: middle;
  margin: 0px;
  margin-left: 32px;
}

.order-in-cart {
  display: flex;
  width: 460;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 86px;
  margin-left: 80px;
}

.shopping-buttons {
  display: flex;
  justify-content: space-between;
  width: 460;
  margin-right: 80px;
  margin-left: 80px;
}

.universal-modal-name {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 55px;
  margin-bottom: 86px;
}

.universal-modal-button {
  margin-right: 80px;
  margin-left: 80px;
}

.feedback {
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  border-top: 7px solid #ee3643;
  border-bottom: 112px solid #f4f4f4;
  background-color: white;
}

.feedback-on-top {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.feedback label,
.universal-modal label {
  font-size: 18px;
  line-height: 18px;
  color: black;
}

.send-feedback-button {
  width: 460px;
  height: 38px;
  border: none;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 338px;
  width: 460px;
  margin-top: 50px;
  margin-bottom: 38px;
  position: relative;
}

.feedback-form input,
.universal-modal input {
  border: solid 2px #dee3e4;
  border-radius: 4px;
  width: 220px;
  height: 38px;
}

.feedback-form input::placeholder,
.universal-modal input::placeholder,
.feedback-form textarea::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  font-family: "PT Sans", sans-serif;
  padding-left: 16px;
}

.feedback-form textarea {
  border: solid 2px #dee3e4;
  border-radius: 4px;
  width: 460px;
  height: 114px;
  resize: none;
}

.feedback-form-contacts {
  display: inline-block;
  height: 64px;
  margin: 0px;
  margin-bottom: 22px;
}

.feedback-form-message {
  display: inline-block;
  height: 144px;
  margin: 0px;
  margin-bottom: 74px;
}

.feedback-form-email {
  right: 0px;
  position: absolute;
}

.feedback-form-name {
  left: 0px;
  position: absolute;
}
